.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

h1,
h2 {
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
}
